$background: #1E1D1F;
$blue_gray: #444F50;
$bright_blue: #83BEBD;
$white_like: #FCF9E9;
$red: #DB3339;

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $background;
  text-size-adjust: 100%;
}

.anime-base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0rem;
  height: 20rem;
  background: $blue_gray;
  border-radius: 5px;
  margin-right: 50rem;
  z-index: 0;
}

.pre-base {
  background:#293030;
  position: relative;
}

.pre-base2 {
  background:#323a3b;
  position: absolute;
  left: 0;
}

.base {
  position: absolute;
  left: 0;
}

header, main {
  opacity: 0%;
  z-index: 1;
}

//////////////////////////////HEADER////////////////////////////////

header {
  margin-bottom: 2rem;
}

header div { //aligning the icon and the name
  display: flex;
  align-items: center;
}

.icon {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  border: 0.4rem solid $red;
  margin-right: 1rem;
}

.name {
  font-family: 'Sriracha', cursive;
  font-size: 4rem;
  color: $white_like;
}

//////////////////////////////BODY////////////////////////////////

.socials {
  display: flex;
  flex-direction: row;
}

.social {
  margin-right: 2rem;
  &:last-child {
    margin-right: 0;
  }
}

$colors: #333333, #1da1f2, #7289da, #1b2838, #1db954;
$icons: "../img/github.svg", "../img/twitter.svg", "../img/discord.svg", "../img/steam.svg", "../img/spotify.svg";
@for $i from 1 through 5 {
  .cover-#{$i} {
    width: 0rem;
    height: 5rem;
    background: nth($colors, $i);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    &::after {
      content: "";
      background-image: url(nth($icons, $i));
      background-size: 3rem 3rem;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      opacity: 0;
      animation-name: fadeIn;
      animation-timing-function: ease-out;
      animation-delay: 430ms;
      animation-duration: 350ms;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 100;
    transform: translateX(0rem);
  }
}