$background: #1E1D1F;
$blue_gray: #444F50;
$bright_blue: #83BEBD;
$white_like: #FCF9E9;
$red: #DB3339;

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $background;
  text-size-adjust: 100%;
}

.wrapper {
  margin-bottom: -25rem;
}

.anime-base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0rem;
  height: 20rem;
  background:#cf874c;
  border-radius: 5px;
  margin-right: 50rem;
  z-index: 0;
}

.pre-base {
  background:#b95b33;
  position: relative;
}

.pre-base2 {
  background:#c0783d;
  position: absolute;
  left: 0;
}

.base {
  position: absolute;
  left: 0;
}

header, .social-wrapper {
  opacity: 0%;
  z-index: 1;
}

img {
  pointer-events: none;
}

//////////////////////////////HEADER////////////////////////////////

header {
  margin-bottom: 2rem;
}

header div { //aligning the icon and the name
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header div div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p.email {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: $white_like;
  font-size: 1.1rem;
  font-family: 'Mitr', sans-serif;
  background: #ce673a;
  padding: 0 1rem;
  border-radius: 10px;
}

p.email span {
  user-select: none;
}

.icon {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  border: .4rem solid $white_like;
  margin-right: 1rem;
  user-select: none;
}

.name {
  font-family: 'Lily Script One', cursive;
  font-size: 4rem;
  color: $white_like;
  user-select: none;
}

//////////////////////////////SOCIALWRAPPER////////////////////////////////

.socials {
  display: flex;
  flex-direction: row;
}

.social {
  margin-right: 2rem;
  &:last-child {
    margin-right: 0;
  }
}

$colors: #333333, #1da1f2, #7289da, #1b2838, #1db954;
$icons: "../img/github.svg", "../img/twitter.svg", "../img/discord.svg", "../img/steam.svg", "../img/spotify.svg";
@for $i from 1 through 5 {
  .cover-#{$i} {
    width: 0rem;
    height: 5rem;
    background: nth($colors, $i);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition-property: transform;
    transition-duration: 100ms;
    &:hover {
      transform: rotateZ(360deg);
    }
    &::after {
      content: "";
      background-image: url(nth($icons, $i));
      background-size: 3rem 3rem;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      opacity: 0;
      animation-name: fadeIn;
      animation-timing-function: ease-out;
      animation-delay: 430ms;
      animation-duration: 350ms;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 100;
    transform: translateX(0rem);
  }
}

//////////////////////////////INTRO////////////////////////////////

.intro-wrapper {
  opacity: 100%;
  margin-top: 4rem;
}

.intro-1 {
  display: flex;
  padding-top: .1rem;
  flex-direction: column;
  width: 48.5rem;
  height: 20rem;
  border: 0.7rem solid  #3d3d3d;
  background:#3d3d3d;
  border-radius: 5px;
}

.skillset {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Mitr', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  user-select: none;
  color: $white_like;
  background: #3d3d3d;
}

.fa-spider {
  transition-property: color;
  transition-duration: 150ms;
  &:hover {
    color: $red;
  }
}

ul {
  margin: .5rem 0 0 0;
  padding: 0;
  list-style: none;
}

.skillset-content {
  text-align: center;
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  color: #c7c7c7;
  font-size: 2rem;
  user-select: none;
}